.contactForms {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 10%;
  width: 96%;
  height: 80%;
  background-color: var(--mainColor);
  opacity: 0;
  box-shadow: 0.3em 0.4em 1.5em rgb(203, 180, 133);
  animation: showContact 1s ease-in-out forwards;
}

@keyframes showContact {
  from {
    transform: translateX(-5%);
  }
  to {
    opacity: 0.9;
  }
}

.contactFrame,
.contactForm,
.success {
  display: flex;
  flex-direction: column;
}

.contactFrame {
  margin: 0% 3%;
  height: 85%;
  background-color: var(--mainColor);
  border: 5px solid var(--boxColor);
  padding: 2%;
}

.contactForm {
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100%;
}

.msg {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.msg label {
  font-size: 0.8em;
  margin-bottom: 3px;
}

.msg input,
.msg textarea {
  outline: none;
  border: none;
  background-color: var(--mainColor);
  border-bottom: 2px solid var(--boxColor);
  padding: 1%;
  margin-bottom: 1%;
  transition: all 0.3s ease-in-out;
  font-family: var(--fontSerif);
}

.msg input:focus,
.msg textarea:focus {
  background-color: whitesmoke;
}

.contactForm > input {
  cursor: pointer;
  width: fit-content;
  right: 0;
  padding: 1% 2%;
  border: 2px solid var(--boxColor);
  border-radius: 5px;
  color: var(--boxColor);
  font-weight: bold;
  background-color: var(--mainColor);
  font-family: var(--fontSerif);
  transition: all 0.3s ease-in-out;
}
.contactForm > input:hover {
  color: black;
  background-color: var(--boxColor);
}

.success {
  width: inherit;
  align-items: center;
}

.close {
  position: absolute;
  right: 0.5%;
  top: 0;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease-in-out;
}

.close:hover {
  color: black;
}
