header {
  opacity: 0;
  animation: showHeaders 1s ease-in-out forwards;
}

#navs {
  opacity: 0;
  animation: showHeaders 0.8s ease-in-out forwards;
  animation-delay: 0.8s;
}

@keyframes showHeaders {
  from {
  }
  to {
    opacity: 1;
  }
}

.main {
  padding-top: 10%;
  display: grid;
  gap: 0.8px;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 5%;
  width: 100%;
  height: 65%;
}

.main > div {
  height: 100%;
}

.main > div,
.mainDiv > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDiv > span {
  background-color: var(--mainColor);
  width: 50%;
  height: 80%;
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  opacity: 0;
  cursor: pointer;
  box-shadow: 0.1em 0.2em 0.4em var(--boxShadow);
  transition: all 0.2s ease-in-out;
}

#mainProf {
  animation: showmAbout 1s ease-in-out forwards;
  animation-delay: 0.8s;
}

#mainProj {
  animation: showmProj 1s ease-in-out forwards;
  animation-delay: 0.8s;
}

@keyframes showmAbout {
  from {
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
  }
}

@keyframes showmProj {
  from {
    transform: translateX(20%);
  }
  to {
    opacity: 1;
  }
}

.mainDiv > span:hover {
  background-color: var(--mintColor);
}
