nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  background-color: white;
  font-size: 1.6em;
}

nav > div {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav > div > span {
  padding: 5px 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid var(--mainColor);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

nav > div > span:hover {
  background-color: var(--mainColor);
  color: white;
  box-shadow: 0.1em 0.2em 0.4em var(--boxShadow);
}

.onProfile,
.onProjects {
  background-color: var(--mainColor);
  color: white;
  box-shadow: 0.1em 0.2em 0.4em var(--boxShadow);
}
